.encuadro {
  perspective: 600px;
  position: fixed;
  border-radius: 4px;
  width: 300px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  background: url('./assets/simulador.png') no-repeat center center fixed;
  background-size: 300px 300px;
}

.encuadro::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 185px;
  background-color: black;
  width: 40px;
  height: 40px;
  transform: rotate3d(0, 1, 0, -30deg);
}

.estado {
  transform: rotate3d(0, 1, 0, -30deg);
  position: absolute;
  top: 84px;
  left: 187px;
  width: 35px;
  height: 35px;
  background: url('./assets/x.png') no-repeat center center fixed;
  background-size: 100%;
  z-index: 100;
}

.estado.go {
  background: url('./assets/go.png') no-repeat center center fixed;
  background-size: 100%;
}